@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand-normal {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;  
  }
  .alogo{
    width: 62px;
    height: 62px;
    margin-top: 20px;
  }
  .school-size{
    font-size: 2rem;
    font-weight: 700;
  }
  .home-size{
    font-size: 1.25rem;
    color: orange;
    font-weight: 700;
  }
  .about-size{
    font-size: 1.25rem;
    color: skyblue;
    font-weight: 700;
  }
  .facilities-size{
    font-size: 1.25rem;
    color: #05D4DF;
    font-weight: 700;
  }
  .admission-size{
    font-size: 1.25rem;
    color: #5D58EF;
    font-weight: 700;
  }
  
  .contactbtn{
    background-color: orange;
    border-radius: 12px;
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
    width: 197px;
    height: 50px;
    padding: 10px;
    margin-top: 27px;
  }

.navheader{
    max-width: 1440px;
    margin-left: 141px;
    margin-right: 141px;
    margin-top: 15px;
    margin-bottom: 0;
}
.display-flex{
    display: flex;
}
.navgrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 35px;
}

.navgrid>li{
    text-decoration: none;
    list-style: none;
}
.navdiv{
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.empower{
    font-size: 3.5rem;
    color: orange;
}

#age{
    font-size: 3.5rem;
}
#vision{
    font-size: 3.5rem;
    color: skyblue;
}
.courage{
    font-size: 1.20rem;
    font-weight: 500px;
}
.hero{
    margin-left: 500px;
}
.h3sdc{
    text-align: center;
    margin-top: 60px;
    font-weight: 700;
    font-size: 2.8rem;
    
}
.standard{
    margin-top: 60px;
    margin-bottom: 80px;
}
.cardsthree{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin-left: 140px;
}
.firstimage{
    border: 1px;
    border-radius: 18.86px;
    width: 367px;
    height: 400px;
    background: linear-gradient(to bottom, #DEF5FF, white);
    align-content: center;
    text-align: center;
}
.secondimage{
    border: 1px;
    border-radius: 18.86px;
    width: 367px;
    height: 400px;
    background: linear-gradient(to bottom, #FFF4DC, white);
    align-content: center;
    text-align: center;
}
.thirdimage{
    border: 1px;
    border-radius: 18.86px;
    width: 367px;
    height: 400px;
    background: linear-gradient(to bottom, #F2E8FF, white);
    align-content: center;
    text-align: center;
}
.kinder{
    color: #202020;
    font-weight: 700px;
    font-size: 1.53rem;
}
.kinderp{
    color: #808080;
    font-weight: 600px;
    font-size: 0.94rem;
}
#readone{
    color: #64C8FF;
    font-weight: 700px;
    font-size: 0.94rem;
}
#readtwo{
    color: #F0AA00;
    font-weight: 700px;
    font-size: 0.94rem;
}
#readthree{
    color: #8700FF;
    font-weight: 700px;
    font-size: 0.94rem;
}
.arrowbtn{
    width: 130px;
    height: 100px;  
}
.arrowdiv{ 
    margin-top: 10px;
    text-align: center;   
}
.storyh{
    font-weight: 700px;
    font-size: 2.8rem;
    text-align: center;
}
.allfour{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
}
.mainstory{
    margin-left: 140px;
}
.fiveimages{
    gap: 10px;
}
.firstcardimage{
    border: 1px black solid;
    border-radius: 16px;
    width: 540px;
    height: 630px;
    overflow: hidden;
}
.secondcardimage, .thirdcardimage, .fourthcardimage, .fifthcardimage{
    border: 1px black solid;
    border-radius: 16px;
    width: 290px;
    height: 301px;
    overflow: hidden;
}
.aaa{
    margin-left: 30px;
    margin-top: -25px;
}
.firstcardimagebtn{
    background-color: #3CD8E8;
    border-radius: 47.83px;
    border: none;
    font-weight: 600;
    font-size: 1rem;
    color: white;
    padding: 14px;
}
.aaah4{
    margin-left: 30px;
}
.funh4{
    font-weight: 700px;
    font-size: 1.5rem;
}
.funp{
    font-weight: 600px;
    font-size: 1.5rem;
    font-size: 0.95rem;
    color: #666666;
}
.sameschool{
    font-weight: 700px;
    font-size: 0.95rem;
    margin-left: 35px;
}
.bbb{
    margin-left: 30px;
    margin-top: -17px;
}
.ccc{
    margin-left: 30px;
    margin-top: -17px;
}
.ddd{
    margin-left: 30px;
    margin-top: -17px;
}
.eee{
    margin-left: 30px;
    margin-top: -17px;
}
.secondcardimagebtn{
    background-color: #95B226;
    border-radius: 47.83px;
    border: none;
    font-weight: 600;
    font-size: 1rem;
    color: white;
    padding: 14px;
}
.thirdcardimagebtn{
    background-color: #5D58F0;
    border-radius: 47.83px;
    border: none;
    font-weight: 600;
    font-size: 1rem;
    color: white;
    padding: 14px;
}
.fourthcardimagebtn{
    background-color: #95B226;
    border-radius: 47.83px;
    border: none;
    font-weight: 600;
    font-size: 1rem;
    color: white;
    padding: 14px;
}
.fifthcardimagebtn{
    background-color: #95B226;
    border-radius: 47.83px;
    border: none;
    font-weight: 600;
    font-size: 1rem;
    color: white;
    padding: 14px;
}
.vbtn{
    text-align: center;
}
.viewbtn{
    background-color: black;
    color: white;
    border-radius: 12px;
    padding: 10px 61px 10px 61px;
    font-weight: 700;
    font-size: 1.25rem;
    margin-top: 60px;   
}
.foot{
    margin-left: 140px;
    margin-top: 60px;
    margin-right: 80px;
    background-color: #01ACFD;   
}
.allfoot{
    padding: 80px 80px 50px 40px;
    color: white;
}
.kidsh3{
    font-weight: 700;
    font-size: 2.63rem;
}
.imgg{
    width: 82px;
    height: 81px;
    margin-top: 40px;
}
.pizza{
    font-weight: 500;
    font-size: 1rem;
}
.allfoot{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.aboutschool{
    margin-top: 40px;
}
.pabout{
    font-weight: 700;
    font-size: 1.5rem;
}
.ulabout>li{
    list-style: none;
    margin-left: -40px;
    font-weight: 600;
    font-size: 1.25rem;
}
.touch{
    margin-top: 40px;
    font-weight: 700;
    font-size: 1.5rem;
}
.enroll{
    border-radius: 12px;
    background-color: black;
    color: white;
    padding: 10px;
    margin-top: 20px;
    font-weight: 700;
    font-size: 1.25rem;
}
 .newemp{
    display: flex;
    /* display: grid;
    grid-template-columns: repeat(2,1fr); */
} 

.navbtn{
    width: 30px;
    height: 30px;
}
/* for smaller devices */

@media screen and (max-width: 576px){
    .school-size, .navgrid, .contactbtn, .arrowdiv, .firstcardimage {
        display: none;
    }
    .newemp
    {   
        margin-left: -125px;
        flex-direction: column-reverse;  
    }
    .navbtn{
        margin-top: 30px;    
    }
    .hero, .heroimg{
        margin-left: 0px;
        max-width: 140%;
        max-height: 150%;
    }
    .alogo{
        margin-left: -125px;
    }
    .sdc{
        text-align: left; 
    }
    .cardsthree{
        display: flex;
        flex-direction: column;
        margin-left: 0px;
    }
    .allfour{
        display: flex;
        flex-direction: column;
        margin-left: 0px;
    }
    .foot{
        margin-left: 30px;
        width: 350px;
        height: auto;
    }
    .allfoot{
        display: flex;
        flex-direction: column;      
    }
    .mainstory{
        margin-left: 30px;
    }
    .vbtn{
        margin-left: -150px;
    }
}

/* medium sized devices */

@media screen and (min-width: 576px) and (max-width: 1390px) {
    .school-size, .navgrid, .contactbtn, .arrowdiv, .firstcardimage{
        display: none;
    }
    .newemp
    {   
        margin-left: -125px;
        flex-direction: column-reverse;  
    }
    .navbtn{
        margin-top: 30px;  
        margin-right: 100px;  
    }
    .hero{
        margin-left: -10px;
        max-width: 100%;
    }
    .alogo{
        margin-left: -125px;
    }
    .sdc{
        text-align: left; 
    }
    .cardsthree{
        display: flex;
        flex-direction: column;
        margin-left: -100px;
    }
    .allfour{
        display: flex;
        flex-direction: column;
        margin-left: 130px;
    }
    .foot{
        margin-left: 130px;
        width: 350px;
        height: auto;
    }
    .allfoot{
        display: flex;
        flex-direction: column;  
    }
    .mainstory{
        margin-left: 30px;
    }
    .vbtn{
        margin-left: -100px;
    }
    .storyh{
        margin-left: -100px;
    }
}
@media screen and (min-width: 1391px) and (max-width: 10000px) {
    .navbtn{
        display: none; 
    }
}